<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>404 - Toast Not Found</h1>

  <a href="/hall-of-fame">View Toaster Hall of Fame</a>
  
  <p>Oops! It seems the toast you're looking for is not here.</p>
  
  <a href="/">Return to Homepage</a>

  <hr>
  
  <div class="banner">
    <img src="<%= banner %>" alt="Banner Ad">
  </div>
</body>
</html>

