<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>
  <body>
    <h1>Rules</h1>
    <ol>
      <li>Nothing NSFW: including but not limited to nudes, gore, and sugestive images</li>
      <li>Tosters and related content only plesae: not a strict requirement but it might get deleted if its not</li>
      <li>No faking rateings</li>
      <li>No discrimination of any kind: including but not limited to sexism, transphobia, and racism</li>
      <li>Please dont use slurs</li>
    </ol>
  </body>
</html>
